/* line 1, C:/Users/pbv41/Dropbox/preloader-cogwheel/scss/main.scss */
.cogwheel-overlay {
  background-color: #f4f5f7;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100; }
  /* line 7, C:/Users/pbv41/Dropbox/preloader-cogwheel/scss/main.scss */
  .cogwheel-overlay .cogwheel-full {
    position: absolute;
    height: 127px;
    width: 113px;
    top: 50%;
    right: 50%;
    margin-right: -56.5px;
    margin-top: -63.5px; }
    /* line 15, C:/Users/pbv41/Dropbox/preloader-cogwheel/scss/main.scss */
    .cogwheel-overlay .cogwheel-full .cogwheel {
      position: absolute;
      -webkit-animation: rotate-right 2s linear infinite;
      -o-animation: rotate-right 2s linear infinite;
      animation: rotate-right 2s linear infinite; }
    /* line 21, C:/Users/pbv41/Dropbox/preloader-cogwheel/scss/main.scss */
    .cogwheel-overlay .cogwheel-full .cogwheel-small {
      background: url("img/cogwheel-small.png") no-repeat;
      height: 27px;
      width: 27px;
      margin-left: 86px;
      margin-top: 31px; }
    /* line 28, C:/Users/pbv41/Dropbox/preloader-cogwheel/scss/main.scss */
    .cogwheel-overlay .cogwheel-full .cogwheel-medium {
      background: url("img/cogwheel-medium.png") no-repeat;
      height: 40px;
      width: 40px;
      margin-left: 53px; }
    /* line 34, C:/Users/pbv41/Dropbox/preloader-cogwheel/scss/main.scss */
    .cogwheel-overlay .cogwheel-full .cogwheel-big {
      background: url("img/cogwheel-big.png") no-repeat;
      height: 92px;
      width: 92px;
      margin-top: 35px; }

@keyframes rotate-right {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotate-right {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate-right {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-o-keyframes rotate-right {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(360deg); } }

/*# sourceMappingURL=main.css.map */