/* line 1, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
*, html, body {
  margin: 0;
  padding: 0;
  border: 0; }

/* line 6, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
.loader-overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100; }
  /* line 12, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
  .loader-overlay .folding-cube {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    right: 50%;
    margin-right: -25px;
    margin-top: -25px;
    transform: rotateZ(45deg); }
    /* line 21, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube {
      float: left;
      height: 50%;
      width: 50%;
      position: relative;
      transform: scale(1.1); }
      /* line 27, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
      .loader-overlay .folding-cube .cube:before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        transform-origin: 100% 100% 0;
        animation: 4s linear 0s normal both infinite running fold-cube; }
    /* line 36, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube1:before {
      background: #fcf; }
    /* line 39, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube2 {
      transform: scale(1.1) rotateZ(90deg); }
    /* line 42, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube2:before {
      background: #f9f;
      animation-delay: 0.3s; }
    /* line 46, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube4 {
      transform: scale(1.1) rotateZ(180deg); }
    /* line 49, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube4:before {
      background: #f6f;
      animation-delay: 0.6s; }
    /* line 53, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube3 {
      transform: scale(1.1) rotateZ(270deg); }
    /* line 56, C:/Users/pbv41/Dropbox/preloader-cube/scss/screen.scss */
    .loader-overlay .folding-cube .cube3:before {
      background: #f0f;
      animation-delay: 0.9s; }

@keyframes fold-cube {
  0%, 10% {
    opacity: 0;
    transform: perspective(140px) rotateX(-180deg); }
  25%, 75% {
    opacity: 1;
    transform: perspective(140px) rotateX(0deg); }
  100%, 90% {
    opacity: 0;
    transform: perspective(140px) rotateY(180deg); } }

/*# sourceMappingURL=screen.css.map */