*, html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.loader-overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
.loader-overlay .folding-cube {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  right: 50%;
  margin-right: -25px;
  margin-top: -25px;
  transform: rotateZ(45deg);
}
.loader-overlay .folding-cube .cube {
  float: left;
  height: 50%;
  width: 50%;
  position: relative;
  transform: scale(1.1);
}
.loader-overlay .folding-cube .cube:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  transform-origin: 100% 100% 0;
  animation: 4s linear 0s normal both infinite running fold-cube;
}
.loader-overlay .folding-cube .cube1:before {
  background: #fcf;
}
.loader-overlay .folding-cube .cube2 {
  transform: scale(1.1) rotateZ(90deg);
}
.loader-overlay .folding-cube .cube2:before {
  background: #f9f;
  animation-delay: 0.3s;
}
.loader-overlay .folding-cube .cube4 {
  transform: scale(1.1) rotateZ(180deg);
}
.loader-overlay .folding-cube .cube4:before {
  background: #f6f;
  animation-delay: 0.6s;
}
.loader-overlay .folding-cube .cube3 {
  transform: scale(1.1) rotateZ(270deg);
}
.loader-overlay .folding-cube .cube3:before {
  background: #f0f;
  animation-delay: 0.9s;
}

@keyframes fold-cube {
  0%, 10% {
    opacity: 0;
    transform: perspective(140px) rotateX(-180deg);
  }
  25%, 75% {
    opacity: 1;
    transform: perspective(140px) rotateX(0deg);
  }
  100%, 90% {
    opacity: 0;
    transform: perspective(140px) rotateY(180deg);
  }
}
